.body_style {
	display: flex;
	flex-direction:column;
	align-items: center;
}
.modal_form {
	background-color: rgba(220, 220, 220, 0.3);
	height: 300px;
	width: 300px;
	border: solid 1px #ececec;
	box-shadow: 0 0 10px #777;
	border-radius: 3px;
	position: absolute;
	margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.form_title {
	background-color: #B5B3B3;
	border-bottom: solid 1px #ececec;
	box-shadow: 0 0 10px #777;
	font-style: italic;
	font-weight: 700;
}
.button_close {
	font-weight: 800;
	vertical-align: top;
	float:right;
	padding: 0 5px 0px 5px;
	background-color: rgba(218, 33, 33, 0.5);
	border-radius: 3px;
	border: 2px;
	height: auto;
	font-style: normal;
}
.sect_button {
	position: absolute;
	bottom: 0;
	right: 0;
}
.body_button {
	background-color: #B5B3B3;
	border-radius: 3px;
}
.form_body {
	margin: 5px ;
}
.text_bgr {
	color: #ddd;
	position: relative;
	z-index: 1;
}
@keyframes FormfromTop {
	0% {top: 0%;}
	50% {top: 50%;}
	100% {top: 50%;}
}
.modal_form {
	animation: FormfromTop 4s;
}
@keyframes showButton {
	0% {height: 0px; font-size: 0;}
	50% {height: 0px; font-size: 0;}
	100% {height: auto; font-size: auto;}
}
.button_close {
	animation: showButton 2s;
}









