body {
	background-color:#ABAB8F;
}
.site_name {
	font-size: 22px;
	font-weight: 900;
	text-transform: uppercase;
	text-shadow:1px 2px 1px rgba(94, 174, 255, 0.41);
	margin-right: 10px;
}
.site_name:first-letter {
	font-size: 300%;
}
.post_head {
	color: #c00;
	letter-spacing: 2px;
	font-size: 10px;
	font-family: OpenSans;
	
}
.post_date {
	color: #666;
	font-size: 10px;
}

.post_title {
	margin: 5px;
	font-size: 36px;
}

.post_subtitle {
	margin: 5px;
	font-size: 24px;
}

.post_journ_name {
	font-size: 15px;
	font-weight: bold;
	padding-left: 20px;
	margin-top: 10px;
	border:3px dotted #0088dd;
}

.post_photo {
	color: rgba(0,0,0,0.5);
	font-size: 12px;
}

.post_parag {
	margin: 20px 5px 20px 5px;
}
.post_parag_first {
	margin: 5px 5px 20px 5px;
}
.post_subtitle2 {
	font-size: 22px;
	font-weight: 600;
	margin: 10px 5px 0px 5px;
}
.director {
	font-weight: 600;
	margin-top: 5px;
}

.smallsize {
	font-size: 15px;
}
.maintextsize {
	font-size: 18px;
}
.adress_link {
	text-decoration: underline;
	margin-bottom: 15px;
}
figure {
	margin: 5px;
}
figurecaption {
	display: inline-flex;
}
footer {
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
    clear: both;
    margin: 10px 5px 10px 5px;
}
.lefting {
	float:left; /* Выравнивание по левому краю */
    margin: 0px 5px 0px 0; /* Отступы вокруг картинки */
}
.spacing {
	margin-bottom: 50px;
}
a[href="google.com"] {
    background-color: yellow;
}
.head_link {
	border-right: solid 1px rgb(204, 204, 204);
	padding: 5px;
}
.last_link {
	border-right-style: none;
}

