*, *:after, *:before {

	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color:#eee;
	color: #7f8c8c;
	margin: 0;
}
.my_container {
	width: 1170px;
	margin: 0 auto;
}
.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}
.fl_left {
	float: left;
}
.fl_top {
	float: top;
}
.cell_1 {
	width: 100%;
}
.cell_2 {
	width: 45%;
	margin-right: 10%;
}
.cell_3 {
	width: 30%;
	margin-right: 5%;
}
[class*='cell_'] {
	float: left;
	margin-bottom: 20px;
}
[class*='cell_']:last-of-type {
	margin-right: 0;
}
.form_name {
	color: #000;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 10px;
}
.lable_input {
	margin-bottom: 4px;
}
[class*='input_'] {
	border: 2px solid #c8caca;
	width: 100%;
	box-sizing: border-box;
	min-height: 25px;
}
[class*='inputel_'] {
	margin-right: 10px;
	margin-bottom: 20px;
}
.lable_input.elem_label {
	margin-right: 20px;
}
.input_textarea {
	min-height: 30px;
}
.web_input:after {
	content: ".com";
}
.web_input {
	width: 90%;	
	position: relative;
}
.url_before:before {
	content: "http://";
}
.label_after:after, .label_before:before {
	content: "Label";
}
.elem_near_input:after, .elem_near_input:before{
	background-color: #d3d4d5;
	border: 2px solid #c8caca;
	float: left;
	position: absolute;
	min-height: 25px;
	box-sizing: border-box;
	text-align: center;
	min-width: 5%;
}
.displ_inline {
	display: inline-block;
}
.button_go {
	background-color: #537ce2;
	border: 2px solid #537ce2;
	width: 5%;
	min-height: 25px;
	color: white;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
}
.input_block_with_elem  {
	width: 95%;
	display: inline-block;
	float: left;
}
.is_checkval_error {
	border-color: #c00;
}
.is_checkval_correct {
	border-color: #4675eb;
}
[class*='is_checkval_']:after {
	font-style: italic;
	color: white;
	line-height: 25px;
	width: 41%;
	position: absolute;
	min-height: 25px;
	box-sizing: border-box;
	text-align: center;
	font-size: 12px;
	margin: 0 auto;
}
.is_checkval_error:after {
	content: "Invalid entry";
	background-color: #c00;
	border: 2px solid #c00;
}
.is_checkval_correct:after {
	content: "Correct entry";
	background-color: #4675eb;
	border: 2px solid #4675eb;
}
.cell_1.is_checkval_error .is_checkval_error:after {
	width: 91%;
}
.input_block.is_checkval_error, .input_block.is_checkval_correct{
	margin-bottom: 0;
}
.cell_2.is_checkval_error, .cell_1.is_checkval_error{
	margin-bottom: 40px;
}
/*on the lesson*/
.my-form {
	display: block;
}
label.inline {
	display: inline-block;
}
.form-field {
	border: 1px solid #ccc;
	padding: 4px 8px;
	color: #ccc;
	width: 100%;
}
.form-field:focus {
	outline: none;
	border-color: #008CBA;
	color: #008CBA;	
}
textarea.form-field {
	min-height: 80px;
}
.error .form-field {
	border-color: #c00;
}
.confirm .form-field {
	border-color: blue;
}
.confirm label {
	color: blue;
}
.error label {
	color: #c00;
}
.error .lbl-response, .confirm .lbl-response {
	display: block;
}
.error-lbl {
	color: #fff;
	background-color: #c00;
}
.confirm-lbl {
	color: #fff;
	background-color: blue;
}
.lbl-response {
	padding: 4px;
	font-size: 10px;
	font-style: italic;
}
input[type="url"] {
	padding-left: 52px;
}
.custom-url {
	position: relative;
}
.custom-url:before {
	content: "http://";
	position: absolute;
	left: 1px;
	top: 1px;
	padding: 0 5px;
	background-color: #eee;
	border: 1px solid #eee;
	font-size: 10px;
	line-height: 19px;
}
.custom-chb {
	position: absolute;
	left: -99999px;
}
.custom-chb + label{
	padding-left: 30px;
	line-height: 20px;
	cursor: pointer;
	position: relative;
}
.custom-chb + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
}
.custom-chb:checked + label:before {
	border-color: #666;
}
.custom-chb:checked + label:after {
	content: '';
	position: absolute;
	left: 2px;
	top: 2px;
	width: 10px;
	height: 10px;
	border: 1px solid #666;
	background-color: #666;
} 

.my-link {
	color: #fff;
	-webkit-transition: background 1s;
	transition:background 1s; 
	background-color: #666;
	display: block;
	padding: 10px;
}
.my-link:hover {
	background: #c00;
}
@keyframes progressBar {
	from {width: 1px;}
	to {width: 100%;}
}
.div {
	width: 1px;
	height: 100px;
	background-color: #c00;
	animation: progressBar 4s;
}















