body {
	background-color:rgb(200,200,200);
}
.myDiv {
	background-color: DarkCyan;
	padding: 12px 6px;
	margin: 10px;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	font-family: Arial;
}

.h3 {
	background-color: white;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	margin: 10px 5px 6px 7px;
	font-weight: 300;
	font-family:  sans-serif, Arial;
	text-transform: capitalize;
	text-decoration: line-through;
	line-height: 45px;

}
.ul_style {
	list-style-type: square;
	list-style-position: inside;
	list-style-image: url("img/key_icon.png");

}
.table_style {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
th {text-align: middle;}
td {vertical-align: middle; }

.table_style tr:nth-child(odd) {
	background-color: #A6A934;
}
.table_style tr.table_head {
	background-color: #e8645a;
	font-weight: 600;
}
.menu_cell {
	float: left;
	background-color: #eee;
	padding: 5px;
	margin: 5px; 
}
.bg_check {
	background-color: #A6A934;
}
.menu_row {
	overflow: hidden;
	background-color: #e8645a;
	padding: 10px;
}