.blogpage_row {
	overflow: hidden;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	width: 870px;
}
.head_blog {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	color: #7f8c8c;
	margin-left: 5px;
}
.head_link {
	font-size: 12px;
	color: #7f8c8c;
}
.head_align_link {
	float: right;	
}
.blog_head {
	background-color: #ececec;
	padding: 20px 10px;
	width: 1170px;
}
.blog_body {
	background-color: #f3f3f3;
	font-family: Open Sans Regular;
}
.create_new {
	float:left; 
    margin: 0px 5px 0px 0; 
    padding: 10px;
    background-color: #7f8c8c;
}
.new_file_icon_text {
	color: #76c7c0;
	font-size: 24px;
	font-weight: 500;
}
.new_file_icon_date {
	color: #7f8c8c;
	font-size: 14px;
	margin: 7px;
}
.color_select {
	color: #e2534b;
}
.icon_head {
	margin-left: 10px;
	margin-right: 3px;
}
.art_text {
	color: #7f8c8c;
	font-size: 14px;
	margin-bottom: 15px;
	width: 870px;
	line-height: 20px;
}
.art_blog {
	left: 20px;
}
.slideshow_row {
	color: #b0b8b8;
	font-size: 25px;
	font-weight: bold;
	padding: 200px 0 200px 0;
	background-color: #f8f8f8;
	margin-bottom: 20px;
	display: inline-block;
}
.left_bracket {
	padding: 10px;
	background-color: #e8645a;
	text-align: left;
	margin-right: 250px;
	
}
.right_bracket {
	padding: 10px;
	background-color: #e8645a;
	text-align: right;
	margin-left: 250px;
	
}
.pict_logo {
	display: inline-block;
	text-align: center;
}
.slideshowtext_row {
	width: 870px;
}
.leftborder_text {
	border-left: 3px solid #7f8c8c;
	margin-left: 70px;
	padding-left: 30px;
	box-sizing: border-box;
	width: 770px;
}
.share_link {
	background-color: #ececec;
	font-size: 14px;
	font-weight: 600;
	color: #7f8c8c;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
}
.facebook_ico {
	background-color: #526da3;
	padding: 5px 10px;
	width: 35px;
	height: 35px;
	border-radius: 3px;
	margin-left: 5px;
	box-sizing: border-box;
}
.twitter_ico {
	background-color: #73bfe6;
	padding: 5px 10px;
	width: 35px;
	height: 35px;
	box-sizing: border-box;
	border-radius: 3px;
	margin-left: 5px;
}








