h1,h2,h3,h4,h5,h6 {
	margin-bottom: 10px;
}
body {
	color: #7f8c8c;
	font: 12px 'Open Sans', Arial, sans-serif;
}
.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}
/* GRID */
.fl-left {
	float: left;
}
.fl-right {
	float: right;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.is-relative {
	position: relative;
}
.my-container {
	width: 1170px;
	margin: 0 auto;
}
.my-row {
	margin-bottom: 40px;
}

[class*='my-cell-'] {
	float: left;
	margin-right: 30px;
}

[class*='my-cell-']:last-of-type {
	margin-right: 0;
}
.my-cell-0 {
	width: 70px;
}
.my-cell-1 {
	width: 130px;
}
.my-cell-2 {
	width: 270px;
}
.my-cell-3 {
	width: 370px;
}
.my-cell-4 {
	width: 570px;
}
.my-cell-5 {
	width: 870px;
}
.my-cell-6 {
	width: 1170px;
}
[class*='img-slider-placeholder'], .img-slider-placeholder li{
	background: #f8f8f8 url('img/empty_img.png') no-repeat;
	font-color: #b0b8b9;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 5px 0 #e5e6e6;
	position: relative;
}
.img-slider-placeholder figcaption {
	position: absolute;
	bottom: 12%;
	left: 0;
	width: 100%;
	text-align: center;
}
.img-slider {
	margin: 0;
}
.img-slider .img-slider-placeholder.is-big{
	background-position: center 311px;
	height: 700px;
	font-size: 25px;
	font-weight: bold;
}
.img-slider .img-slider-placeholder.is-med{
	background-position: center 250px;
	height: 560px;
	font-size: 25px;
	font-weight: bold;
}
.img-slider .img-slider-placeholder.is-small{
	background-image: url('img/empty_img_med.png');
	background-position: center 80px;
	height: 200px;
	font-size: 16px;
	font-weight: bold;
}
.is-big strong {
	text-transform: uppercase;
}
.img-slider-br-small-prev {
	padding: 10px;
	border-radius: 0 5px 5px 0;
}
.img-slider-br-small-next {
	padding: 10px;
	border-radius: 5px 0 0 5px;
}
.img-slider-placeholder [class*='img-slider-'] {
	background: #e8645a url('img/sprite_1.png') no-repeat center 19px;
	position: absolute;
	width: 50px;
	height: 60px;
	top: 50%;
	transform: translate(0, -50%);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}		
.img-slider-placeholder .img-slider-next {
	right: 0;
	transform: rotate(180deg);
	margin-top: -30px;
}
.img-slider .img-slider-placeholder.is-small [class*='img-slider-']{
	background-position: 9px -43px;
	width: 40px;
	height: 40px;
}
.img-slider-placeholder.is-small .img-slider-next {
	margin-top: -20px;
}
[class*='img-empty-page'] {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.img-empty-page-big {
	width: 109px;
	height: 87px;
}
.img-empty-page-medium {
	width: 54px;
	height: 44px;
}
.img-slider-indicator li{
	display: inline;
	background-color: #b0b8b9;
	font-size: 5px;
	color: #b0b8b9;
	margin-right: 10px;
}
.is-big-indicator li, .is-medium-indicator li{
	padding-left: 60px;
	margin-top: 30px;
}
.is-small-indicator li{
	padding-left: 30px;
	margin-top: 25px;
	margin-bottom: 45px;
}
.is-big-indicator {
	margin-bottom: 60px;
}
.is-medium-indicator {
	margin-bottom: 55px;
}
.img-slider-indicator {
	_background-color: #e2534b;
}
.h3-sidebar-gallery {
	color: #7f8c8c;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 50px;
	margin-bottom: 30px;
}
[class*='img-set-'] {
	list-style-type: none;
	padding: 0;	
}
.img-set-1 li {
	background: #f8f8f8 url('img/empty_img_small.png') no-repeat center 19px;
	height: 70px;
	margin-bottom: 25px; 
}
.img-set-2 li {
	background: #f8f8f8 url('img/empty_img.png') no-repeat center 85px;
	height: 270px;
	margin-bottom: 40px; 	
}
.img-set-3 li {
	background: #f8f8f8 url('img/empty_img.png') no-repeat center 85px;
	height: 270px;
	margin-bottom: 45px; 	
}
.full-page-line {
	background-color: #e5e6e6;
	height: 3px;
	margin-bottom: 50px;
}

/* ICON on the lesson*/
[class*='icn-'] {
	display: inline-block;
	background-color: url('img/_sprite_1.png') no-repeat 0 0;
}
/* SLIDER Component */


