body {
	background-color:#ABAB8F;
}
.post_head {
	color: #c00;
	letter-spacing: 2px;
	font-size: 10px;
	font-family: OpenSans;
	
}
.post_date {
	color: #666;
	font-size: 10px;
}

.post_title {
	font-size: 36px;
}

.post_subtitle {
	font-size: 24px;
}

.post_jour_name {
	font-size: 15px;
	font-weight: bold;
	padding-left: 20px;
}

.post_posit {
	padding-left: 20px;	
	padding-bottom: 20px;
}
.post_photo {
	color: rgba(0,0,0,0.5);
	font-size: 12px;
}

.post_parag {
	font-size: 18px;
	margin: 20px 5px 20px 5px;
}
.post_photo_journ {
	font-size: 18px;
}
.post_parag_first {
	font-size: 18px;
	margin: 5px 5px 20px 5px;
}
.post_subtitle2 {
	font-size: 22px;
	font-weight: 600;
	margin: 10px 5px 0px 5px;

}


