.head_blog {
	font-family: Open Sans Semibold;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	color: #7f8c8c;
	margin-left: 5px;
}
.head_link {
	font-family: Open Sans Regular;
	font-size: 12px;
	color: #7f8c8c;
}
.head_align_link {
	float: right;	
}
.blog_head {
	background-color: #ececec;
	padding: 20px 5px;
}
